{% extends "header.html" %}	
{% block content %}	
				<div id="left_column_pro">
					{% include "mel/left_column_mel.html" %}	
				</div>
				<div id="RightColumn">
				{% load static %}
					<a href="#openHelp" id="help"> <img src="{% static 'images/help.png' %}"></a>	
					<div id="openHelp" class="modalDialog">
						<div>
							<a href="#close" title="Close" class="close"><h1>X</h1></a>
							<h2>Melodic Dictation</h2>
							<p>You will hear 5 notes. Which intervals did you hear in which order?</p>
							<p>Each sublevel uses a different musical scale.</p>
							<table>
								<tr>
									<td>1</td>
									<td>Intervals: major third, perfect fifth and perfect octave</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Major pentatonic</td>
								</tr>
								<tr>
									<td>3</td>
									<td>Minor pentatonic</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Major (or Ionian)</td>
								</tr>
								<tr>
									<td>5</td>
									<td>Minor (or Aeolian)</td>
								</tr>
								<tr>
									<td>6</td>
									<td>Lydian</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Mixolydian</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Dorian</td>
								</tr>
								<tr>
									<td>9</td>
									<td>Phrygian</td>
								</tr>
								<tr>
									<td>10</td>
									<td>Locrian</td>
								</tr>
								<tr>
									<td>11</td>
									<td>Blues</td>
								</tr>
								<tr>
									<td>12</td>
									<td>Harmonic Minor</td>
								</tr>
								<tr>
									<td>13</td>
									<td>Melodic Minor</td>
								</tr>
							</table>
						</div>
					</div>
					
					<a id="playbutton" href="#">
						<div class="{{ start_button }}">
						</div>
					</a>

					<div id="volumcontroller"></div>
					
					<div id="questions">
						{% include "mel/lvl_mel.html" %}
					</div>
									
					<!--<div id="piano"></div>-->
				</div>

{% endblock %}	
